@font-face {
    font-family: 'Roboto Condensed';
    src: url('assets/Roboto_Condensed/RobotoCondensed-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('assets/Roboto_Condensed/RobotoCondensed-Light.ttf');
    font-weight: 300;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #263A72;
    color:#d6d6d6;
    font-family: Roboto Condensed;
}

h1 {
    font-size: 2em;
    letter-spacing: 0.2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
    font-weight: lighter;    
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

header {
    padding: 1.5em 0% 1.5em 5%;
    border-bottom: 1px solid #d6d6d6;
}

.photo {
    width: 100vw;
    background-color: black;
    position: relative;
}

.photo .headline {
    background-color: rgba(38, 58, 114, 0.75);
    padding: 0.5em;
    cursor: pointer;
    margin: 0 0 1em 5%;
    position: absolute;
}

.photo .headline:hover {
    background-color: rgba(38, 58, 114, 1);
}


.photo .container {
    overflow: hidden;
}

.photo .text {
    float: right;
    overflow: hidden;
}

.photo .text > span {
    padding: 4% 8% 0 0;
    display: block;
}

.photo .fullscreen-button {
    position: absolute;
    top: 10%;
    left: 5%;
}

/* image ratio is 4:3 */

.photo.teaser {
    /* displaying 25% of an image: (25/4)*3vw */
    height: 18.75vw; 
    transition: height 0.5s ease 0.5s;
}

.photo.teaser .headline {
    bottom: 0;
    transition: bottom 0.5s ease 0.5s;
}

.photo.teaser .container {
    width: 100vw;
    height: 18.75vw; /* calc(100vw / 16 * 3); Images ratio is 4:3, 1/4 of image is displayed */
    transition: height 0.5s ease 0.5s, width 0.5s ease 0.5s;
}

.photo.teaser .container img {
    width: 100%;
    margin-top: -25%;
    border: solid black 0px;
    filter: grayscale(80%);
    transition: border 0.5s ease 0.5s, filter 0.5s ease 0.5s, margin 0.5s ease 0.5s, width 0.5s ease 0.5s;
}

.photo.teaser .text {
    width: 0;
    opacity: 0;
    height: 0;
    transition: opacity 0.5s ease 0s, width 0.5s ease 0.5s, height 0.5s ease 0.5s;
}

.photo.article {
    /* displaying whole image (reduced to 50%): (50/4)*3vw */
    height: 37.5vw;
    transition: height 0.5s ease 0s;
}

.photo.article .headline {
    bottom: 8%;
    transition: bottom 0.5s ease 0s;    
}

.photo.article .container {
    width: 50vw;
    height: 37.5vw; /* calc(50vw / 4 * 3); Images ratio is 4:3, whole image is displayed */
    transition: height 0.5s ease 0s, width 0.5s ease 0s;
}

.photo.article .container img {
    width: 88%;
    margin: 4% 0 2% 6%;
    border: solid gray 1px;    
    filter: grayscale(0%);
    transition: border 0.5s ease 0s, filter 0.5s ease 0s, margin 0.5s ease 0s, width 0.5s ease 0s;
}

.photo.article .text {
    width: 50%;
    opacity: 100;
    height: 100%;
    transition: opacity 0.5s ease 0.5s, width 0.5s ease 0s;
}

.photo.article .fullscreen-button {
    opacity: 0;
    animation: fadeIn 0.5s ease 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 100; }
}

body > .fullscreen {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
}

body > .fullscreen > img {
    max-width: calc(88vw - 2px);
    max-height: calc(88vh - 2px);
    border: 2px solid rgba(255, 255, 255, 0.75);
    margin: 6vh auto;
    display: block;
}

body > .fullscreen > .fullscreen-button {
    position: absolute;
    top: 6vh;
    right: 1em;
}

.footer {
    border-top: solid 1px white;
}
